*{
    margin: 0px;
    font-family: arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: rgb(30, 28, 28);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(../../amazon-logo.jpeg);
    background-size: cover;
    height: 50px;
    width: 100px;

}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid rgb(255, 254, 254);
}
.add-first{
    color: #Accc;
    font-size: large;
    margin-left: 15px;
}
.add-second{
 font-size: 1rem;
 margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620;
    height: 40;
    border-radius: 4px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100px;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    font-size: 1.2rem;
    background-color: rgb(240, 186, 49);
     border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: black;
}
.nav-search:hover{
    border: 2px solid  orange;
}
span{
    font-size: 0.7rem;
}
.nev-second{
    font-size: 0.85rem ;
    font-weight: 700;
}
.nav-cort i {
    font-style: 35px;

}
.nav-cort{
    font-size:0.85rem ;
    font-weight: 700;
}

.panel{
    height: 40px;
   background-color: #222f3d;
   display: flex;
   align-items: center;
   color: #f3f3f3;
   justify-content: space-evenly;
}
.panel-ops p {
    display: inline;
    margin-left: 15px;

}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;

}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
    
}
.hero-section{
    background-image: url(../../hero-section.gif);
    height: 400px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;

    
}
.hero-msg a{
    color: #007185;
    
}
.shop-sectiosn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e2;
    
}
.box{
    border:2px solid black ;
    height: 400px;
    width: 20%;
    background-color: white;
    padding: 20px 0px 15px ;
    margin: 15px;

}
.box-imege1{
    height: 300px;
    background-image:url(../../box1.jpeg) ;
    background-size: cover;
   
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-conetent{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-conetent{
    color: #007185;
}
.box-imege1{
    height: 300px;
    background-image:url(../../box1.jpeg) ;
    background-size: cover;
   
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-imege2{
    height: 300px;
    background-image:url(../../box2.jpeg) ;
    background-size: cover;
   
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-imege3{
    height: 300px;
    background-image:url(../../box3.jpeg) ;
    background-size: cover;
   
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.box-imege4{
    height: 300px;
    background-image:url(../../box4.jpeg) ;
    background-size: cover;
   
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-imege5{
    height: 300px;
    background-image:url(../../box5.jpeg) ;
    background-size: cover;
   
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-imege6{
    height: 300px;
    background-image:url(../../box6.jpeg) ;
    background-size: cover;
   
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-imege7{
    height: 300px;
    background-image:url(../../box7.jpeg) ;
    background-size: cover;
   
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-imege8{
    height: 300px;
    background-image:url(../../box8.jpeg) ;
    background-size: cover;
   
    margin-top: 1rem;
    margin-bottom: 1rem;
}
footer{
    margin-top:15px ;

}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    align-items: center;
    display: flex;
    font-size: 0.85rem;
    justify-content: center;
}

.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top:30px ;
}
ul a{
    display: flex;
    font-size: 0.85rem;
    color: #dddddd;
}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid black;
    display: flex;
    justify-content: center;
}
.logo2{
    background-image: url(../../amazon-logo.jpeg);
    background-size: cover;
    height: 50px;
    width: 100px;


}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    /* display: flex;
    justify-content: center;
    text-align: center; */
}
.pages{
    font-size: 0.7rem;
    text-align: center;
    padding-top: 25px;
}
.copright{
 font-size: 0.7rem;
 text-align: center;
 padding-top: 5px;
}